html {
    text-align: center;
}

body {
    background-image: url("bg.png");
    font-family: "Trebuchet MS";
    width: 780px;
    display: inline-block;
    margin: 0px auto;
    margin-top: 30px;
    text-align: center;
    padding-top: 20px;
}

#bodyContent {
    width: 780px;
    text-align: left;
    margin: 0px auto;
}

#navbar {
    padding-top: 11px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border-radius: 5px;
    padding-left: 37px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    margin-left: 0px;
    margin-right: 0;
    font-size: 15px;
    padding-left: 24px;
    padding-right: 24px;
}

li a:hover {
    background-color:IndianRed;
}

li a.active {
    background-color: IndianRed;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

table,td {
    //background-color: white;
    //border-collapse: collapse;
    //border: 1px solid black;
    border: none;
}

#tableDiv1 {
    padding-top: 10px;
    padding-bottom: 25px;
}

#tableDiv2 {
    border-top: 15px solid white;
    border-bottom: 15px solid white;
    border-left: 50px solid white;
    border-right: 15px solid white;
    border-radius: 10px;
}

#tableDiv3 {
    padding-top: 10px;
    float: left;
    background-image: url("bg.png");
}

#tableDiv4 {
    padding-top: 10px;
    float: right;
    background-image: url("bg.png");
    padding-bottom: 45px;
}

#tableDiv5 {
    padding-bottom: 10px;
}

#foot {
    padding-top: 5px;
    padding-bottom: 2px;
    float: right;
}

.t1 {
    height: 200px;
    background-color: white;
    border-radius: 10px;
}

.t2 {
    height: 314px;
    background-color: white;
}

.t3 {
    height: 50px;
    background-image: url("bg.png");
    margin-left: 32px;
}

.t4 {
    height: 50px;
    background-image: url("bg.png");
    margin-left: 30px;
}

.t5 {
    height: 98px;
    background-color: white;
    border-radius: 10px;
}

td.table1td1 {
    width: 450px;
    vertical-align: top;
    text-aligh: left;
    padding-top: 40px;
    padding-left: 18px;
}

td.table1td2 {
    vertical-align: top;
    text-aligh: left;
    padding-top: 50px;
    padding-left: 18px;
}

td.Enrique {
    width: 150px;
    vertical-align: top;
    text-aligh: left;
    padding-top: 25px;
    padding-left: 10px;
}

td.L5 {
    vertical-align: top;
    text-aligh: left;
    padding-top: 38px;
    padding-left: 35px;
}

.goldSpan {
    color: IndianRed;
}

.hoverRow:hover td{
    background-color: IndianRed;
    color: white;
}

.hoverRow:hover .goldSpan{
    color: gold;
}

.anchor {
    display: block;
    color:black; 
    text-decoration:none
}

.t3 td:hover{
    background-color: IndianRed;
    color: white;
}

.t3 td:hover .anchor{
    background-color: IndianRed;
    color: white;
}

.t4 td:hover{
    background-color: IndianRed;
    color: white;
}

.t4 td:hover .anchor{
    background-color: IndianRed;
    color: white;
}

.t5td {
    vertical-align: top;
    text-aligh: left;
    padding-top: 20px;
    padding-left: 20px;
}

.classFoot {
    text-aligh: right;
}